
<div class="mainDiv">
  <h1>Welcome to Ski Insider</h1>
  <p>Your source for local ski resort information</p>

  <%= collection_select( :resort, :id, Resort.all, :id, :name, { :prompt => "Choose a Resort" } ) %>

</div>




<br>

<%= link_to 'New Resort', new_resort_path %>
<%= javascript_pack_tag 'resorts', 'data-turbolinks-track': 'reload' %>

