
<div class="mainDiv">
  <h1>Ski Insider</h1>
  <p>Your source for ski resort information straight from other skiers.</P>
  <p>Select a resort below to get started:</p>

  <%= collection_select( :resort, :id, Resort.all, :id, :name, { :prompt => "Choose a Resort" }, {class: "custom-select"} ) %>

</div>

<%= javascript_pack_tag 'resorts', 'data-turbolinks-track': 'reload' %>

